/********************* Globals *********************/
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,600');

$aj-purple: #522e90;
$aj-purple-dark: saturate(darken($aj-purple,20%),40%);
$aj-light: #fff;
$aj-purple-light: lighten($aj-purple,40%);
$aj-gradient: linear-gradient($aj-purple-dark, $aj-purple);

$pad-big: 3rem;
$pad-mid: 3rem;

body {
	font-family: 'Sarabun', sans-serif;
	font-size: 16px;
	line-height: 1;
	background: $aj-purple;
	color: $aj-light;
	overflow-x: hidden;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

/************* Media queries *************/
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 640px)  { @content; }
  }
  @else if $point == smallphone {
    @media (max-width: 360px)  { @content; }
  }
}

/************* Zero everything out *************/
@mixin zero {
	margin: 0;
	padding: 0;
	line-height: 1;
}

/************* Flexes *************/
@mixin flexrow {
	display: flex;
	flex-direction: row;
}

@mixin flexcolumn {
	display: flex;
	flex-direction: column;
}

@mixin flexleft {
	align-items: center;
	justify-content: flex-start;
}

@mixin flexcenter {
	align-items: center;
	justify-content: center;
}

@mixin flexcenterbetween {
	align-items: center;
	justify-content: space-between;
}

/************* Nav *************/
nav {
	position: fixed;
	z-index: 10;
	width: 100vw;
	top: 0;
	will-change: auto;
	transition: background 0.2s ease;
}

.dark {
	background: rgba(42, 23, 74, 0.9);
}

nav ul {
	list-style-type: none;
	@include zero;
	@include flexrow;
	@include flexcenter;
}

nav ul li {
	@include zero;
	text-transform: uppercase;
	font-size: 0.925rem;
	letter-spacing: 2pt;
	@include breakpoint(tablet) {
		font-size: 0.9rem;
		letter-spacing: 1pt;
	}
	@include breakpoint(phone) {
		font-size: 0.8rem;
		letter-spacing: 1pt;
	}
	@include breakpoint(smallphone) {
		font-size: 0.7rem;
		letter-spacing: 1pt;
	}
}

nav ul li a {
	margin: 0 0.5rem;
	height: $pad-big;
	@include flexrow;
	@include flexcenter;
	color: #fff;
	text-decoration: none;	
	position: relative;
}

nav ul li a:after {
	content: " ";
	height: 0.2rem;
	width: 100%;
	position: absolute;
	background: transparent;
	left: 0;
	bottom: 0.5rem;
}

nav ul li a:hover:after {
	content: " ";
	height: 0.2rem;
	width: 100%;
	position: absolute;
	background: $aj-purple-light;
	left: 0;
	bottom: 0.5rem;
}

@media (hover:none), (hover:on-demand) {
	nav ul li a:hover:after {
		display: none;
	}
}

nav ul li a.active:after {
	content: " ";
	height: 0.2rem;
	width: 100%;
	position: absolute;
	background: $aj-light;
	left: 0;
	bottom: 0.5rem;
}


/************* Hero blocks *************/
header {
	height: 50vh;
	width: 100vw;
	background: $aj-purple-light;
	top: 0;
	z-index:1;
	
    background-image: url("../img/aj_hero.jpg");
	@include breakpoint(phone) {
		 background-image: url("../img/aj_hero_phone.jpg");
	}
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	position: relative;
	@include flexrow;
	@include flexcenter;
	
	@include breakpoint(phone) {
		background-position: 100% 0%;
	}
	
    &:before {
      content: '';
  	  position: absolute;
  	  top: 0;
  	  right: 0;
  	  bottom: 0;
  	  left: 0;
  	  background-image: $aj-gradient;
  	  opacity: .6; 
    }
}

.aj_logo {
	width: 	16vw;
	max-width: 18rem;
	position: relative;
	z-index: 10;
	@include breakpoint(tablet) {
		width: 	28vw;
	}
	@include breakpoint(phone) {
		width: 	36vw;
	}
}

.aj_logo img {
	width: 100%;
	filter: invert(1);
}

#aj_vote {
	height: 40vh;
	@include breakpoint(tablet) {
		height: 	30vh;
	}
	@include breakpoint(phone) {
		height: 	50vh;
	}
	width: 100vw;
	background: $aj-purple-light;
	top: 0;
	z-index:1;
	margin-top: $pad-big;
	
    background-image: url("../img/aj_champaign.jpg");
	@include breakpoint(phone) {
		 background-image: url("../img/aj_champaign_phone.jpg");
	}
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: relative;
	@include flexrow;
	@include flexcenter;
	
    &:before {
      content: '';
  	  position: absolute;
  	  top: 0;
  	  right: 0;
  	  bottom: 0;
  	  left: 0;
  	  background-image: $aj-gradient;
  	  opacity: .6; 
    }
}

#aj_vote p {
	position: relative;
	z-index: 20;
	width: 60vw;
	font-size: 2rem;
	text-align: center;
	text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
	line-height: 1.3;
	@include breakpoint(phone) {
		font-size: 1.5rem;
	}
}

/************* Main *************/
main {
	width: 100vw;
	height: auto;
	min-height: 10vh;
	z-index: 20;
}

section {
	width: 70vw;
	margin: 0 auto;
	height: auto;
	@include breakpoint(tablet) {
		width: 80vw;
	}
	@include breakpoint(phone) {
		width: 85vw;
	}
}

.donate_bump {
	width: 70vw;
	margin: 0 auto;
	height: auto;
	padding: 0.05rem 0 3rem 0;
	@include breakpoint(tablet) {
		width: 80vw;
	}
	@include breakpoint(phone) {
		width: 85vw;
	}
}

article {
	max-width: 60rem;
	margin: 0 auto;
}

section p {
	font-size: 1.2rem;
	line-height: 1.5;
}

section ul {
	list-style-type: none;
	@include zero
	@include flexcolumn;
}

section ul li {
	@include zero
	font-size: 1rem;
	line-height: 1.4;
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}

section ul li:before {
	content: "-";
	position: absolute;
	margin-left: -1rem;
}

section .intro {
	font-size: 1.3rem;
}

.list_header {
	line-height: 1.2;
	margin-bottom: 0.5rem;
}

section.hero {
	width: 100vw;
	height: 50vh;
}

section h3 {
	@include zero;
	font-size: 3rem;
	font-weight: 300;
	margin: 2rem 0 2rem 0;
}

section a {
	color: $aj-light;
	text-decoration: none;
	border-bottom: 1pt solid $aj-purple-light;
	padding-bottom: 0.2rem;
}

section a:hover {
	color: $aj-light;
	text-decoration: none;
	border-bottom: 2pt solid $aj-light;
	padding-bottom: 0.2rem;
}

.grid_two {
	display: grid;
	grid-template-columns: 2fr 1fr;
	@include breakpoint(phone) {
		grid-template-columns: 1fr;
	}
}

.grid_two h3 {
	grid-column: 1/-1;
}

.copy_left {
	padding-right: $pad-big;
	@include breakpoint(phone) {
		padding-right: 0;
	}
}

/************* Volunteer *************/
#aj_volunteer {
	padding-bottom: $pad-big;
}

.link_button {
	width: 10rem;
	height: 3rem;
	@include flexrow;
	@include flexcenter;
	background: $aj-purple-dark;
	margin-top: 1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 1pt;
	will-change: auto;
	transition: opacity 0.2s ease;
	cursor: pointer;
	border: none;
}

.link_button:hover {
	border: none;
}

.link_button:hover {
	opacity: 0.7;
}

.link_button_light {
	background: $aj-purple;
	margin-bottom: 1rem;
}

/************* Donate *************/
#aj_donate {
	background: $aj-purple-dark;
	width: 100vw;
}

.small_text_right {
	font-size: 0.9rem !important;
	color: $aj-purple-light;
	margin-top: 2rem;
}

/************* Footer *************/
footer {
	text-align: center;
	color: $aj-purple-light;
	width: 70vw;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 4rem;
	@include breakpoint(phone) {
		text-align: left;
		width: 85vw;
	}
}

footer p {
	font-size: 0.7rem;
	line-height: 1.2 !important;
	@include zero;
	margin-bottom: 1rem;
}

footer a {
	text-decoration: none;
	color: $aj-purple-light;
}

footer a:hover {
	text-decoration: underline;
	color: $aj-light;
}

/************* Mailing list *************/
h2 {
	font-weight: 400;
	font-size: 1.5rem;
}

label {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.asterisk {
	color: $aj-purple-light;
}

.indicates-required {
	text-align: right;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	margin-top: 1rem;
}

.mc-field-group {
	@include flexcolumn;
}

.required {
	margin-bottom: 1rem;
	border: 1pt solid $aj-purple-light;
	height: 2rem;
	border-radius: 0 !important;
}

#mc_embed_signup div.mce_inline_error {
	border: 1pt solid #dd1100;
	background: #dd1100 !important;
}

#mc_embed_signup input.mce_inline_error {
	border: 1pt solid #dd1100 !important; 
}

.button {
	width: 10rem;
	height: 3rem;
	@include flexrow;
	@include flexcenter;
	background: $aj-purple-dark;
	margin-top: 1rem;
	text-transform: uppercase;
	font-size: 0.9rem !important;
	letter-spacing: 1pt;
	will-change: auto;
	transition: opacity 0.2s ease;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 0 !important;
}

.button:hover {
	opacity: 0.7;
}